/* 전체 스타일 효과 */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900@display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* 전체 페이지 스타일 */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(/image/beautiful_night_sky.jpg);
    background-size: cover;
    background-position: center;
}

/* 로그인 폼 컨테이너 */
.loginContainer {
    width: 450px;
    background: transparent;
    border: 3px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.loginContainer h1 {
    font-size: 36px;
    text-align: center;
}


/* 입력 필드 스타일 */
.loginContainer .input-box {
    position: relative;
    width: 100%;
    height: 60px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

/* 로그인 버튼 스타일 */
.loginContainer .loginBtn {
    width: 100%;
    height: 60px;
    background: #fff;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    font-weight:bold;
    color: #333;
    font-weight: 600;
    transition: 0.3s;
}

/* 버튼 호버 효과 */
.loginBtn:hover {
    background-color: #ddd;
}

/* 회원가입 페이지 이동*/
.loginSignupBtn {
    display:flex;
    justify-content:center;
    margin-top: 20px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

/* 회원가입 페이지 이동 효과 */
.loginSignupBtn:hover {
    text-decoration: underline;
}

